{% extends "base.html" %}
{% block content %}
<style>
    .card-img-top {
        width: 100%;
        height: 350px;
        object-fit: cover;
    }
</style>

<!-- Page header-->
<header class="Homeheader"
    style="background-image: url('https://images.freeimages.com/images/large-previews/e77/math-1182795.jpg')">
    <div class="container-fluid position-relative px-0 px-lg-0 mx">
        <div class="row gy-1 gy-lg-1 justify-content-center">
            <div class="col-md-8 col-lg-8 col-xl-7">
                <!--<div class="site-heading">
                    <h1 class="h1HomeHeader">Education4all</h1>
                    <span class="subheading">Um lugar onde impulsionamos o conhecimento</span>
                </div> -->
            </div>
        </div>
    </div>
</header>
<div class="container">

    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-12 col-md-8 col-xl-4  text-center d-flex mx-auto">
            <div class="card mb-4 flex-fill">
                <img src="https://images.freeimages.com/images/large-previews/595/law-education-series-3-1467430.jpg"
                    class="card-img-top" alt="Question Mark">
                <div class="card-body">
                    <h1 class="card-title">O que é Education4all?</h1>
                    <p class="card-text">
                        Education4all é um projeto sem fins lucrativos desenvolvido como projeto da disciplina CES-22
                        (Introdução à programação orientada a objetos)
                        ministrada no Instituto Tecnológico de Aeronáutica.
                    </p>

                </div>
            </div>

        </div>


        <div class="col-12 col-md-8 col-xl-4  text-center d-flex mx-auto">
            <div class="card mb-4 flex-fill">
                <img src="https://images.freeimages.com/images/large-previews/2aa/on-target-1504936.jpg"
                    class="card-img-top" alt="Question Mark">
                <div class="card-body">
                    <h1 class="card-title">Qual o nosso objetivo?</h1>
                    <p class="card-text">
                        Nosso principal objetivo é disponibilizar material de alto nível disponibilizado em português
                        para
                        estudantes brasileiros. Nosso site disponibiliza artigos relevantes à duas áreas do
                        conhecimento: Algoritmos e Matemática.
                        A maioria dos artigos trazem explicações de conceitos complexos ou resoluções de problemas
                        populares.
                    </p>
                </div>
            </div>

        </div>


        <div class="col-12 col-md-8 col-xl-4  text-center d-flex mx-auto">
            <div class="card mb-4 flex-fill">
                <img src="https://images.freeimages.com/images/large-previews/f3f/foosball-table-soccer-1532452.jpg"
                    class="card-img-top" alt="Question Mark">
                <div class="card-body">
                    <h1 class="card-title">Sobre a equipe</h1>
                    <p class="card-text">
                        A equipe é composta por seis graduandos em Engenharia da Computação. Cada um deles tem hobbies
                        pessoais
                        distintos. No entanto, eles compartilham algo em comum: a sede por aprendizado e por
                        compartilhar o que sabem!!
                    </p>
                </div>
            </div>

        </div>

    </div>
</div>
{%endblock%}